{% extends 'MDNAdminBundle::bridge.html.twig' %}

{% block body %}

{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('mdn_admin_login_check') }}" method="post">
    
    {{ form_errors(form) }}

    {{ form_widget(form) }}

    {{ form_rest(form) }}

    <button type="submit">login</button>
</form>
    
{% endblock %}